
CodeToRun_local.R
.Rhistory
errorReportSql.txt
Output/IR.summary_SIDIAP_h.RData
Output/Patient.characteristcis_SIDIAP_h.RData
.Rproj.user
Output/IR.summary_CPRD.RData
Output/Patient.characteristcis.for.plotting_SIDIAP_h.RData
Output/Patient.characteristcis_CPRD.RData
Output/Patient.characteristcis_SIDIAP.RData
Output/Patient.characteristcis.for.plotting_CPRD.RData
Output/IR.summary_SIDIAP.RData
Output/Patient.characteristcis.for.plotting_SIDIAP.RData
Output/desktop.ini
Output/IR.summary_TEST_SIDIAP.RData
Output/OutputToShare_TEST_SIDIAP.zip
Output/Patient.characteristcis.for.plotting_TEST_SIDIAP.RData
Output/Patient.characteristcis_TEST_SIDIAP.RData
Output_old/*
Output/OutputToShare_SIDIAP.zip
Output/OutputToShare_SIDIAP_H.zip
output old/IR.summary_CPRD.RData
output old/IR.summary_SIDIAP_H.RData
output old/Patient.characteristcis.for.plotting_CPRD.RData
output old/OutputToShare_SIDIAP_H.zip
output old/Patient.characteristcis_CPRD.RData
output old/Patient.characteristcis.for.plotting_SIDIAP_H.RData
output/OutputToShare_CPRD.zip
output old/Patient.characteristcis_SIDIAP_H.RData
output/OutputToShare_CPRD.zip
SummariseNetworkResults/table1.csv
SummariseNetworkResults/table2.csv
output/OutputToShare_CPRD.zip
output/OutputToShare_CPRD.zip
Output old2/*
output/IR.summary_IPCI.RData
output/IR.summary_Italy LPD.RData
output/Patient.characteristcis.for.plotting_IPCI.RData
output/Patient.characteristcis.for.plotting_Italy LPD.RData
output/Patient.characteristcis_IPCI.RData
output/Patient.characteristcis_Italy LPD.RData
SummariseResults/*
output/*
CohortSummary.R
